<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <script src="../scripts/color-modes.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- page title -->
    <title>Events</title>
    <!-- custon css -->
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/blog.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <!-- unicons iconscout -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
        <!-- events -->
        <section id="events">
          <!-- tab navigation -->
          <div class="tab-nav-bar justify-content-center align-items-center">
            <div class="tab-navigation justify-content-center align-items-center">
                <i class="uil uil-angle-left left-btn"></i>
                <i class="uil uil-angle-right right-btn"></i>
                <ul class="tab-menu">
                    <li class="tab-btn active">View All</li>
                    <li class="tab-btn">Fellowship</li>
                    <li class="tab-btn">Worship</li>
                    <li class="tab-btn">Prayer</li>
                    <li class="tab-btn">Bible Study</li>
                    <li class="tab-btn">Outreach</li>
                    <li class="tab-btn">Training</li>
                </ul>
            </div>
            </div>
            <!-- tab content -->
            <div class="tab-content container-xl justify-content-center align-items-center">
                <!-- view all -->
                <div class="p-0 tab active">
                    <!-- prayers, bible study & best-p -->
                    <!-- wednesday -->
                    <div class="row ms-0 mb-2 p-0 row-cols-1 row-cols-md-12 g-11 justify-content-center align-items-center" style="max-width: 100%; border: solid 2px #25aae1; border-width: 2px; border-radius: 0;">
                        <div class="col-auto col-md-2 p-0 mx-auto mx-md-0" style="width: 140px;">
                          <div class="p-2 text-center">
                            <p class="m-0">Wednesday</p>
                            <h3 class="m-0">18</h3>
                            <p class="m-0">Sep 2024</p>
                          </div>
                        </div>
                        <div class="col-md-auto p-0 d-none d-md-inline">
                          <div class="p-0" style="height: 80px; border-right: solid 2px #00a651;"></div>
                        </div>
                        <div class="col-md-auto p-0 d-md-none">
                          <div class="mx-2 p-0" style="width: auto; border-bottom: solid 2px #00a651;"></div>
                        </div>
                        <div class="col-auto col-md-6 p-0">
                          <div class="p-2 ms-3">
                            <h5 class="m-0">Wednesday Prayers & Bible Study</h5>
                            <p class="mb-0"><small><span class="fst-italic fw-bold">Prayers:</span> 6:00pm - 7:00pm</small></p>
                            <p class="mb-2"><small><span class="fst-italic fw-bold">Bible Study:</span> 7:00pm - 8:00pm</small></p>
                            <p class="m-0"><small class="text-body-secondary">Lecture Hall 15</small></p>
                          </div>
                        </div>
                        <div class="col-auto col-md-3 ms-auto p-0" style="width: 172px;">
                          <div class="p-2">
                            <button class="btn btn-warning" type="button">I will be attending</button>
                          </div>
                        </div>
                    </div>
                    <!-- thursday -->
                    <div class="row ms-0 mb-2 p-0 row-cols-1 row-cols-md-12 g-11 justify-content-center align-items-center" style="max-width: 100%; border: solid 2px #25aae1; border-width: 2px; border-radius: 0;">
                        <div class="col-auto col-md-2 p-0 mx-auto mx-md-0" style="width: 140px;">
                          <div class="p-2 text-center">
                            <p class="m-0">Thursday</p>
                            <h3 class="m-0">19</h3>
                            <p class="m-0">Sep 2024</p>
                          </div>
                        </div>
                        <div class="col-md-auto p-0 d-none d-md-inline">
                          <div class="p-0" style="height: 80px; border-right: solid 2px #00a651;"></div>
                        </div>
                        <div class="col-md-auto p-0 d-md-none">
                          <div class="mx-2 p-0" style="width: auto; border-bottom: solid 2px #00a651;"></div>
                        </div>
                        <div class="col-auto col-md-6 p-0">
                          <div class="p-2 ms-3">
                            <h5 class="m-0">BEST-P</h5>
                            <p class="mb-2"><small>7:00pm - 8:00pm</small></p>
                            <p class="m-0"><small class="text-body-secondary">Lecture Hall 15</small></p>
                          </div>
                        </div>
                        <div class="col-auto col-md-3 ms-auto p-0" style="width: 172px;">
                          <div class="p-2">
                            <button class="btn btn-warning" type="button">I will be attending</button>
                          </div>
                        </div>
                    </div>
    
                    <!-- fellowship -->
                    <!-- friday fellowship -->
                    <div class="row ms-0 mb-2 p-0 row-cols-1 row-cols-md-12 g-11 justify-content-center align-items-center" style="max-width: 100%; border: solid 2px #25aae1; border-width: 2px; border-radius: 0;">
                        <div class="col-auto col-md-2 p-0 mx-auto mx-md-0" style="width: 140px;">
                          <div class="p-2 text-center">
                            <p class="m-0">Friday</p>
                            <h3 class="m-0">20</h3>
                            <p class="m-0">Sep 2024</p>
                          </div>
                        </div>
                        <div class="col-md-auto p-0 d-none d-md-inline">
                          <div class="p-0" style="height: 80px; border-right: solid 2px #00a651;"></div>
                        </div>
                        <div class="col-md-auto p-0 d-md-none">
                          <div class="mx-2 p-0" style="width: auto; border-bottom: solid 2px #00a651;"></div>
                        </div>
                        <div class="col-auto col-md-6 p-0">
                          <div class="p-2 ms-3">
                            <h5 class="m-0">Friday Fellowship</h5>
                            <p class="mb-2"><small>6:00pm - 8:00pm</small></p>
                            <p class="m-0"><small class="text-body-secondary">Lecture Hall 15</small></p>
                          </div>
                        </div>
                        <div class="col-auto col-md-3 ms-auto p-0" style="width: 172px;">
                          <div class="p-2">
                            <button class="btn btn-warning" type="button">I will be attending</button>
                          </div>
                        </div>
                    </div>
                    <!-- training -->
                    <div class="row ms-0 mb-2 p-0 row-cols-1 row-cols-md-12 g-11 justify-content-center align-items-center" style="max-width: 100%; border: solid 2px #25aae1; border-width: 2px; border-radius: 0;">
                        <div class="col-auto col-md-2 p-0 mx-auto mx-md-0" style="width: 140px;">
                          <div class="p-2 text-center">
                            <p class="m-0">Saturday</p>
                            <h3 class="m-0">21</h3>
                            <p class="m-0">Sep 2024</p>
                          </div>
                        </div>
                        <div class="col-md-auto p-0 d-none d-md-inline">
                          <div class="p-0" style="height: 80px; border-right: solid 2px #00a651;"></div>
                        </div>
                        <div class="col-md-auto p-0 d-md-none">
                          <div class="mx-2 p-0" style="width: auto; border-bottom: solid 2px #00a651;"></div>
                        </div>
                        <div class="col-auto col-md-6 p-0">
                          <div class="p-2 ms-3">
                            <h5 class="m-0">Ministry Practices</h5>
                            <p class="mb-0"><small><span class="fst-italic fw-bold">Instrumentalists:</span> 9:00am - 12:00pm</small></p>
                            <p class="mb-2"><small><span class="fst-italic fw-bold">Board Family:</span> 12:00pm - 3:00pm</small></p>
                            <p class="m-0"><small class="text-body-secondary">Various Halls</small></p>
                          </div>
                        </div>
                        <div class="col-auto col-md-3 ms-auto p-0" style="width: 172px;">
                          <div class="p-2">
                            <button class="btn btn-warning" type="button">I will be attending</button>
                          </div>
                        </div>
                    </div>
                    <!-- sunday service -->
                    <div class="row ms-0 mb-2 p-0 row-cols-1 row-cols-md-12 g-11 justify-content-center align-items-center" style="max-width: 100%; border: solid 2px #25aae1; border-width: 2px; border-radius: 0;">
                        <div class="col-auto col-md-2 p-0 mx-auto mx-md-0" style="width: 140px;">
                          <div class="p-2 text-center">
                            <p class="m-0">Sunday</p>
                            <h3 class="m-0">22</h3>
                            <p class="m-0">Sep 2024</p>
                          </div>
                        </div>
                        <div class="col-md-auto p-0 d-none d-md-inline">
                          <div class="p-0" style="height: 80px; border-right: solid 2px #00a651;"></div>
                        </div>
                        <div class="col-md-auto p-0 d-md-none">
                          <div class="mx-2 p-0" style="width: auto; border-bottom: solid 2px #00a651;"></div>
                        </div>
                        <div class="col-auto col-md-6 p-0">
                          <div class="p-2 ms-3">
                            <h5 class="m-0">Sunday Service</h5>
                            <p class="mb-0"><small><span class="fst-italic fw-bold">1st Service:</span> 7:00am - 9:30am</small></p>
                            <p class="mb-2"><small><span class="fst-italic fw-bold">2nd Service:</span> 9:30am - 12:00pm</small></p>
                            <p class="m-0"><small class="text-body-secondary">Lecture Hall 15</small></p>
                          </div>
                        </div>
                        <div class="col-auto col-md-3 ms-auto p-0" style="width: 172px;">
                          <div class="p-2">
                            <button class="btn btn-warning" type="button">I will be attending</button>
                          </div>
                        </div>
                    </div>
                </div>
                <!-- fellowship -->
                <div class="tab">
                    <!-- f1 -->
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4 my-4 justify-content-center align-items-center">
                        <div class="col col-auto m-0 text-center left-column">
                            <div class="img-card">
                                <img class="img-fluid d-md-block" src="../assets/images/Illustration-CTA-Man-in-Boat-Facing-Right.png" alt="">
                            </div>
                        </div>
                        <div class="col ms-auto text- text-md-start p-2 m-0 right-column">
                            <div class="info">
                                <h4 class="event">Sunday Service</h4>
                                <div class="description text-muted">
                                    <p class="m-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos praesentium illo ducimus assumenda magni deleniti doloribus beatae.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, optio?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- f2 -->
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4 my-4 justify-content-center align-items-center">
                        <div class="col col-auto m-0 text-center left-column">
                            <div class="img-card">
                                <img class="img-fluid d-md-block" src="../assets/images/Illustration-CTA-Man-in-Boat-Facing-Right.png" alt="">
                            </div>
                        </div>
                        <div class="col ms-auto text- text-md-start p-2 m-0 right-column">
                            <div class="info">
                                <h4 class="event">Friday Fellowship</h4>
                                <div class="description text-muted">
                                    <p class="m-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos praesentium illo ducimus assumenda magni deleniti doloribus beatae.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, optio?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- worship -->
                <div class="tab">
                    <!-- w1 -->
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4 my-4 justify-content-center align-items-center">
                        <div class="col col-auto m-0 text-center left-column">
                            <div class="img-card">
                                <img class="img-fluid d-md-block" src="../assets/images/Illustration-CTA-Man-in-Boat-Facing-Right.png" alt="">
                            </div>
                        </div>
                        <div class="col ms-auto text- text-md-start p-2 m-0 right-column">
                            <div class="info">
                                <h4 class="event">Worship Experience</h4>
                                <div class="description text-muted">
                                    <p class="m-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos praesentium illo ducimus assumenda magni deleniti doloribus beatae.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, optio?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- prayer -->
                <div class="tab">
                    <!-- p1 -->
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4 my-4 justify-content-center align-items-center">
                        <div class="col col-auto m-0 text-center left-column">
                            <div class="img-card">
                                <img class="img-fluid d-md-block" src="../assets/images/Illustration-CTA-Man-in-Boat-Facing-Right.png" alt="">
                            </div>
                        </div>
                        <div class="col ms-auto text- text-md-start p-2 m-0 right-column">
                            <div class="info">
                                <h4 class="event">Wednesday Prayers</h4>
                                <div class="description text-muted">
                                    <p class="m-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos praesentium illo ducimus assumenda magni deleniti doloribus beatae.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, optio?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- p2 -->
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4 my-4 justify-content-center align-items-center">
                        <div class="col col-auto m-0 text-center left-column">
                            <div class="img-card">
                                <img class="img-fluid d-md-block" src="../assets/images/Illustration-CTA-Man-in-Boat-Facing-Right.png" alt="">
                            </div>
                        </div>
                        <div class="col ms-auto text- text-md-start p-2 m-0 right-column">
                            <div class="info">
                                <h4 class="event">Prayer Kesha</h4>
                                <div class="description text-muted">
                                    <p class="m-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos praesentium illo ducimus assumenda magni deleniti doloribus beatae.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, optio?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- bible study -->
                <div class="tab">
                    <!-- bs1 -->
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4 my-4 justify-content-center align-items-center">
                        <div class="col col-auto m-0 text-center left-column">
                            <div class="img-card">
                                <img class="img-fluid d-md-block" src="../assets/images/Illustration-CTA-Man-in-Boat-Facing-Right.png" alt="">
                            </div>
                        </div>
                        <div class="col ms-auto text- text-md-start p-2 m-0 right-column">
                            <div class="info">
                                <h4 class="event">Bible Study</h4>
                                <div class="description text-muted">
                                    <p class="m-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos praesentium illo ducimus assumenda magni deleniti doloribus beatae.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, optio?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- bs2 -->
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4 my-4 justify-content-center align-items-center">
                        <div class="col col-auto m-0 text-center left-column">
                            <div class="img-card">
                                <img class="img-fluid d-md-block" src="../assets/images/Illustration-CTA-Man-in-Boat-Facing-Right.png" alt="">
                            </div>
                        </div>
                        <div class="col ms-auto text- text-md-start p-2 m-0 right-column">
                            <div class="info">
                                <h4 class="event">BEST-P</h4>
                                <div class="description text-muted">
                                    <p class="m-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos praesentium illo ducimus assumenda magni deleniti doloribus beatae.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, optio?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- outreach -->
                <div class="tab">
                    <!-- out1 -->
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4 my-4 justify-content-center align-items-center">
                        <div class="col col-auto m-0 text-center left-column">
                            <div class="img-card">
                                <img class="img-fluid d-md-block" src="../assets/images/Illustration-CTA-Man-in-Boat-Facing-Right.png" alt="">
                            </div>
                        </div>
                        <div class="col ms-auto text- text-md-start p-2 m-0 right-column">
                            <div class="info">
                                <h4 class="event">Nakuru Mission</h4>
                                <div class="description text-muted">
                                    <p class="m-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos praesentium illo ducimus assumenda magni deleniti doloribus beatae.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, optio?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- training -->
                <div class="tab">
                    <!-- tr1 -->
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4 my-4 justify-content-center align-items-center">
                        <div class="col col-auto m-0 text-center left-column">
                            <div class="img-card">
                                <img class="img-fluid d-md-block" src="../assets/images/Illustration-CTA-Man-in-Boat-Facing-Right.png" alt="">
                            </div>
                        </div>
                        <div class="col ms-auto text- text-md-start p-2 m-0 right-column">
                            <div class="info">
                                <h4 class="event">Ministry Practices</h4>
                                <div class="description text-muted">
                                    <p class="m-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos praesentium illo ducimus assumenda magni deleniti doloribus beatae.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, optio?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end tab-content -->
        </section>

    <!-- main js -->
    <script src="../scripts/main.js"></script>
    <!-- bootstrap JS -->
    <script src="../scripts/bootstrap.bundle.min.js"></script>
</body>
</html>