*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    border: none ;
    text-decoration: none;
    transition: .2s linear;
}

.container{
    height: auto;
    width: auto;
    display: inline-block;
  }
.heading{
    text-align: center;
    padding-bottom: 20px;
    color:#00a651;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 40px;
    padding-top: 20px;
}
.container .card-container{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

}
 .card{
    border-radius: 10px;
    background:#ebf3f2;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    padding-bottom: 15px;
    margin: 30px;
    width: 25%;


}
.container .card-container .card  img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.container .card-container .card h3{
    color: #444;
    font-size: 22px;
    padding: 8px 0px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 2px;
}
.card-content p{
    color:#666;
    line-height: 1.3;

}
/*hover effects*/
.container .card-container .card:hover{
    box-shadow:  5px 10px 15px rgba(0,0,0,.3);
    transform: scale (1.03);

}

@media (max-width:768px){
    .container{
        padding: 20px;
    }
   
    
}
@media (max-width:768px){
   .card{
    width: 85%;
    margin: 20px;
    margin: 0px 0px 80px;
   }
   .card-container{
    padding: 0px;
}
    
}

